@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500&family=Roboto:wght@300;500;700&display=swap');


:root {
  --font-primary: 'Red Hat Display', sans-serif; /* weigths 900 500  */
  --color-teal: hsl(192, 37%, 48%);
  --color-purple: hsl(268, 34%, 53%);
  --color-sky-blue: hsl(192, 90%, 77%);
  --color-lavender: hsl(268, 100%, 86%);
  --color-black: hsl(240, 21%, 20%);
  --color-gray: hsl(240, 10%, 57%);
  --color-white: hsl(0, 0%, 98%);
  --color-button-hover-primary: hsl(192, 54%, 64%);
  --color-button-hover-secondary: hsl(267, 64%, 71%);
  --color-light-gray: rgb(216, 216, 216);
  --color-primary: #004757;
}

body, html{
	margin: 0;
	padding: 0;
	/*padding-bottom: 1000px;*/
	background-color: #F4F8FD;
	overflow-x: hidden;
}

*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

ul{
	margin: 0px;
}

li, a, button{
	font-family: 'Montserrat', sans-serif;
	font-weight: 500;
	color: #5A5A5A;
	font-size: 14px;
	text-decoration: none;
}

header{
	display: flex;
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
	background-color: white;
	/*box-shadow: 0 2px 2px -2px rgba(0,0,0,.2);*/
	justify-content: flex-end;
	align-items: center;
	height: 80px;
	padding: 0px 20px;
	z-index: 1000;
	/*padding: 30px 10%;*/
}

.logo{
	width: 150px;
	height: 50px;
	cursor: pointer;
	margin-right: auto;
}

.nav__links{
	padding: 0;
	margin: 0;
	display: flex;
	list-style: none;
	gap: 1em;
	width: 100%;
	/*background-color: red;*/
}

.nav__links li{
	display: inline-block;
	padding: 0px 20px;
}

.nav__links li a{
	transition: all 0.3s ease 0s;
}

.nav__links li a:hover{
	transition: all 0.3s ease 0s;
}

button{
	padding: 9px 25px;
	background-color: rgba(0, 136, 169, 1.0);
	border: none;
	color: white;
	border-radius: 30px;
	cursor: pointer;
	transition: all 0.3s ease 0s;
}

/*End of Navbar style*/

/*  Hero style */

.hero{
	width: 100%;
	height: 490px;
	padding: 0;
	margin: 0;
	/*background-color: #3498db;*/
	/*border-bottom: 1px solid silver;*/
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 30px;
	background-size: cover;
}


.main-text{
	width: 500px;
	height: 60px;
  	font-size: 2rem;
	display: flex;
	justify-content: center;
	color: #004857;
	font-family: 'Red Hat Display', sans-serif;
	font-weight: 900;
}

.second-box{
	width: 100%;
	display: flex;
	flex-direction: column;
}

.two{
	width: 4px;
	margin-top: -13px;
	height: 20px;
	background-color: #004757;
	align-self: center;
}

.three{
	width: 100%;
	height: 190px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	background: linear-gradient(#004757, #005A61);
}

.three span{
	font-size: 23px;
	color: white;
	margin-top: 20px;
	font-family: 'Red Hat Display', sans-serif;
	font-weight: 900;
	letter-spacing: 4px;
}

.three div{
	margin-top: 20px;
	font-family: 'Roboto', sans-serif;
	font-weight: 500;
	color: white;
	width: 70%;
	text-align: center;
}

.main-text-2{
	width: 100%;
	display: flex;
	justify-content: center;
	margin-top: 70px;
	font-size: 24px;
	font-weight: 500;
	color: var(--color-primary);
	font-family: 'Roboto', sans-serif;
	/*letter-spacing: 4px;*/
}

.four{
	padding-top: 50px;
}

.card-virtues{
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	height: 300px;
	border-radius: 12px;
	padding: 0;
	background-color: white;
	box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
	padding: 20px;
}

.card-combination{
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	height: 300px;
	border-radius: 12px;
	padding: 0;
	background-color: white;
	box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
	padding: 20px;
}

.card-virtues .card-ico{
	width: 100px;
	border-radius: 100%;
	height: 100px;
	display: flex;
	align-items: center;
	justify-content: center;
	/*background-color: red;*/
}

.card-virtues .desc-ico{
	width: 100%;
	height: 100%;
	/*background-color: red;*/
	text-align: center;
	font-family: 'Red Hat Display', sans-serif;
	font-weight: 500;
	border: 1px solid #F3F8FD;
	font-size: 15px;
	padding: 10px;
	color: var(--color-primary);
}

.card-virtues .judul-ico{
	font-family: 'Roboto', sans-serif;
	font-weight: 500;
	font-size: 20px;
	color: var(--color-primary);
}

.card-virtues .card-ico img{
	width: 120px;
	height: 120px;
}

.five{
	width: 100%;
	height: 600px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
}

.judul-ico-chipmunk{
	font-size: 16px;
	font-family: 'Roboto', sans-serif;
	font-weight: 500;
	color: var(--color-primary);
}

.five-eagles{
	background-color: #D4EBF0;
	margin-top: 80px;
}

.five-owls{
	background-color: #FCEED7;
}

.five-chipmunks{
	background-color: #D0EDE4;
}

.five-stallions{
	background-color: #ffeaa7;
}

.five-dolphines{
	background-color: #E9DFEA;
}


.x-tip{
	font-family: var(--font-primary);
	color: #7f8c8d;
}

.five .judul-sec-4{
	width: 50%;
	height: 50px;
	text-align: center;
	font-family: var(--font-primary);
	font-weight: 500;
	margin-top: -30px;
	box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
	border: 3px solid #95a5a6;
	color: var(--color-primary);
	background-color: white;
	border-radius: 20px;
}

.combi-1{
	width: 100%;
	height: 40px;
	margin-top: 50px;
}

.judul-combi{
	text-transform: uppercase;
	font-size: 4rem;
	color: white;
	font-family: var(--font-primary);
	font-weight: 900;
}

/* End of hero style  */

.six{
	margin-top: 100px;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.ilus-test{
	width: 100%;
	height: 100%;
}

.judul-test{
	width: 100%;
	font-family: var(--font-primary);
	color: var(--color-primary);
	font-size: 30px;
	font-weight: 900;
	display: flex;
	justify-content: center;
}

.click{
	font-family: var(--font-primary);
	color: var(--color-primary);
	font-size: 20px;
	font-weight: 500;
	width: 100%;
	display: flex;
	justify-content: center;
}


.btn-test{
	width: 200px;
	color: white;
	background-color: #009080;
}

.footers{
	margin-top: 100px;
	bottom: 0;
	width: 100%;
	height: 300px;
	background-color: #004756;
}


@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,700;0,800;1,400;1,700;1,800&display=swap');

* {
    box-sizing: border-box;
    transition: all 0.3s ease;
}

footer#site-footer {
    margin: 0 auto;
    width: 100%;
    margin-top: 100px;
    background: #1e3138;
    padding: 1rem;
    color: #a8a8a8;
}

footer#site-footer a {
    color: #a8a8a8;
}

footer#site-footer a:hover {
    color: #00c3ce;
}

footer#site-footer h1 {
    color: #cecece;
}

footer#site-footer section.horizontal-footer-section {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    padding: 2.38rem 2rem;
}

footer#site-footer section.horizontal-footer-section#footer-top-section {
    justify-content: center;
}

footer#site-footer #footer-logo {
    margin-right: auto;
    flex-shrink: 0;
}

footer#site-footer #footer-logo img {
    height: 2.28rem;
}

footer#site-footer ul#footer-top-menu {
    padding: 0;
    margin: 0;
}

footer#site-footer ul#footer-top-menu li {
    display: inline;
    list-style-type: none;
    margin-right: 1.32rem;
    font-weight: bold;
}

footer#site-footer ul#footer-top-menu li a {
    text-decoration: none;
}

footer#site-footer .footer-top-menu-item-active {
    position: relative;
}

footer#site-footer .footer-top-menu-item-active a {
    color: #007ba6;
}

footer#site-footer .footer-top-menu-item-active a:hover {
    color: #00c3ce;
}

footer#site-footer .footer-top-menu-item-active::before {
    content: "";
    background: #007ba6;
    padding: 0.15rem 0;
    width: 100%;
    position: absolute;
    top: 1.68em;
}

footer#site-footer .footer-top-menu-item-active:hover::before {
    background: #00c3ce;
    transition-duration: 0.6s;
}

footer#site-footer #footer-buttons-container {
    margin-left: auto;
    flex-shrink: 0;
}

footer#site-footer a.footer-button {
    background: transparent;
    border: 0.15rem solid #a8a8a8;
    border-radius: 1.38rem;
    padding: 0.5rem 1rem;
    font-weight: bold;
    text-decoration: none;
    display: inline-block;
}

footer#site-footer a.footer-button:hover {
    border-color: #00c3ce;
}

footer#site-footer section.horizontal-footer-section#footer-middle-section {
    align-items: flex-start;
}

footer#site-footer .footer-columns {
    flex-basis: 18%;
    padding-right: 1rem;
}

footer#site-footer .footer-columns-large {
    flex-basis: 46%;
    padding-right: 2rem;
}

footer#site-footer .footer-columns h1 {
    font-size: 1rem;
    margin-top: 0;
    margin-bottom: 1rem;
    font-weight: 800;
}

footer#site-footer .footer-columns.footer-columns-large h1 {
    font-size: 1.28rem;
    margin-top: 3rem;
    margin-bottom: 1.32rem;
}

footer#site-footer .footer-columns.footer-columns-large h1:first-child {
    margin-top: 0;
}

footer#site-footer ul.footer-column-menu {
    margin: 0;
    padding: 0;
}

footer#site-footer ul.footer-column-menu li {
    list-style-type: none;
    margin-bottom: 0.68rem;
    font-size: 0.88rem;
}

footer#site-footer #footer-about address {
    font-style: normal;
    font-weight: bold;
}

footer#site-footer #footer-about address p img {
    margin-right: 0.68rem;
}

footer#site-footer #footer-about a.footer-button {
    margin-top: 0.32rem;
}

footer#site-footer section.horizontal-footer-section#footer-bottom-section {
    padding: 1.32rem 0;
    margin: 2rem 2rem 1.32rem 2rem;
    border-top: 0.05rem solid #666666;
}

footer#site-footer #footer-social-buttons {
    justify-self: flex-end;
    margin-left: auto;
}

footer#site-footer #footer-social-buttons img {
    margin-left: 0.68rem;
}

footer#site-footer #footer-social-buttons img:hover {
    cursor: pointer;
}






@media screen and (max-width: 959px) {

    footer#site-footer {
        width: 100%;
    }

    footer#site-footer section.horizontal-footer-section {
        flex-direction: column;
        flex-wrap: wrap;
    }

    footer#site-footer section.horizontal-footer-section div {
        flex-basis: 100%;
        width: 100%;
    }

    footer#site-footer ul li {
        display: block !important;
        padding: 1em !important;
        border-top: 1px solid #555555;
        border-bottom: none;
        border-left: none;
        border-right: none;
        font-size: 1.15rem !important;
    }

    footer#site-footer ul li:first-child {
        border-top: none;
    }

    footer#site-footer a.footer-button {
        display: block;
        text-align: center;
        max-width: 350px;
        margin: 0.32rem auto;
    }

    footer#site-footer section.horizontal-footer-section#footer-top-section div {
        margin-top: 0;
        margin-bottom: 1.68rem;
    }

    footer#site-footer #footer-logo {
        margin-right: 0;
    }

    footer#site-footer #footer-buttons-container {
        margin-left: 0;
    }

    footer#site-footer ul#footer-top-menu {
        width: 100%;
        margin: 2rem 0 0 0;
    }

    footer#site-footer .footer-top-menu-item-active::before {
        display: none;
    }

    footer#site-footer #footer-about {
        margin-bottom: 3rem;
    }

    footer#site-footer .footer-columns-large,
    footer#site-footer .footer-columns {
        padding-right: 0;
    }

    footer#site-footer .footer-columns {
        margin-top: 0;
        margin-bottom: 4rem;
    }

    footer#site-footer .footer-columns:last-child {
        margin-bottom: 0;
    }

    footer#site-footer .footer-columns h1 {
        text-align: center;
        font-size: 1.3rem;
        text-transform: uppercase;
        letter-spacing: 0.15rem;
    }

    footer#site-footer ul.footer-column-menu li {
        margin-bottom: 0;
        display: block;
        text-align: center;
    }

    footer#site-footer section#footer-bottom-section div {
        text-align: center;
    }

    footer#site-footer section.horizontal-footer-section#footer-bottom-section {
        margin: 1.32rem 0;
        padding: 0;
        border-top: 0;
    }

    footer#site-footer section#footer-bottom-section #footer-social-buttons {
        margin-top: 1.32rem;
    }
}



/*
// Extra small devices (portrait phones, less than 576px)
// No media query for `xs` since this is the default in Bootstrap*/

/*// Small devices (landscape phones, 576px and up)*/
@media (max-width: 663px) { 
	.nav__links{
		display: none;
	}

	body{
		font-size: 14px;
	}
 }

/*// Medium devices (tablets, 768px and up)*/
@media (max-width: 768px) { ... }

/*// Large devices (desktops, 992px and up)*/
@media (max-width: 992px) { ... }

/*// Extra large devices (large desktops, 1200px and up)*/
@media (max-width: 1200px) { ... }